<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="world.arshad.grandordercompanion">

    <application
        android:name=".GOCApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".all_servants.AllServantsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".view_servant.ServantActivity"
            android:label="@string/title_activity_servant"
            android:parentActivityName=".all_servants.AllServantsActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="world.arshad.grandordercompanion.all_servants.AllServantsActivity" />
        </activity>
        <activity
            android:name=".needed_materials.NeededMaterialsActivity"
            android:label="Needed Materials"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask" />
        <activity
            android:name=".tracked_entries.TrackedEntriesActivity"
            android:label="Tracked Entries"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask" />
        <activity
            android:name=".exp_calculator.ExpActivity"
            android:label="@string/title_activity_exp"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>